/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #f0f0f0, #999999);
    color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the gradient covers the entire viewport height */
}

header, footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Adjust padding as needed */
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px; /* Adjust padding as needed */
    min-height: 80vh;
}

.center-content {
  max-width: 800px; /* You can set the maximum width as per your requirement */
  margin: 0 auto; /* Centers the content horizontally */
  padding: 20px; /* Adds some padding around the content */
}

h1 {
    color: #444;
}

/* Profile Picture */
img {
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ddd;
}

/* Edit Links */
a[href*="update"] {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: #555;
    margin-left: 10px;
}

a[href*="update"]:hover {
    background-color: #e0e0e0;
}

/* Contact Information */
p {
    margin-bottom: 15px;
    font-size: 16px;
}

/* Navigation Links */
a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    text-decoration: underline;
}

a[href*="delete_account"] {
    color: #e74c3c;
}

/* Preformatted Text */
div > pre {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9em;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Forms */
input[type="radio"],
input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
}

.email-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.email-popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.quiz-table {
    width: 80%; /* This narrows the table to 80% of the container width */
    margin: 0 auto; /* This centers the table horizontally */
    border-collapse: collapse;
}

.quiz-table th,
.quiz-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #000;
}

.quiz-table th:first-child,
.quiz-table td:first-child {
    width: 30%; /* This sets the width of the "Name" column to 30% of the table width */
}

/* Make the Quiz Name input field wider */
#QuizName {
    width: 15%; /* Adjust as needed */
}

/* Make the Question input fields the widest */
input[name*="QuestionText"] {
    width: 20%; /* Adjust as needed */
}

/* Make the Answer input fields wider */
input[name*="answers"] {
    width: 14%; /* Adjust as needed */
}

.content-wrapper {
  overflow: auto;
}

.search-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
button {
  margin-bottom: 10px;
}

.search-sidebar h2 {
  text-align: center;
  margin-bottom: 10px;
}

.main-content {
  margin-left: 200px;
}

/* Center the scatter chart container horizontally and vertically */
.scatter-chart-container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}