<!DOCTYPE html>
<html>
<head>
    <title>Create Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Create Quiz</h1>
    <form id="quizForm">
        <label for="QuizName">Quiz Name: </label>
        <input type="text" id="QuizName" name="QuizName" required>
        <div id="questionContainer">
            <!-- Questions will be dynamically added here -->
        </div>
        <button type="button" id="addQuestion">Add Question</button>
        <button type="submit">Submit Quiz</button>
    </form>

    <script>
    var answerCount = 0;
        $(document).ready(function() {
            var questionCount = 0;

            var questionHTML = function(count) {

            answerCount = 0;
            return '<div class="question">' +
              '<input type="text" name="question' + (count + 1) + '" placeholder="Question">' +

              // Generate numbered answers
              answerHTML(questionCount, count) +
              answerHTML(questionCount, count) +
              answerHTML(questionCount, count) +
              answerHTML(questionCount, count) +
              '<button type="button" class="removeQuestion">Remove Question</button>' +
              '</div>';
          }

            var answerHTML = function(questionCount, count) {
            answerCount++;
            return '<input type="radio" name="correctAnswer' + count + '" id=" ' + answerCount + '" value=" ' + answerCount + '">' +
            '<input name="answer_' + answerCount + '_' + (questionCount + 1) + '" placeholder="Answer">'
            ;
          }

            $('#addQuestion').click(function() {
                $('#questionContainer').append(questionHTML(questionCount));
                questionCount++;
            });

            $('#questionContainer').on('click', '.removeQuestion', function() {
                $(this).parent().remove();
            });

            $('#quizForm').submit(function(e) {
                e.preventDefault();
                // Here you would send the form data to your Flask application

                var formData = $(this).serialize();

                $.ajax({
                  url: '/quizzes/add',
                  method: 'POST',
                  data: formData,
                  success: function(response) {
                    // Handle success
                    window.location.href = '/quizzes';
                  }
                });
            });
        });
    </script>
</body>
</html>
