<!DOCTYPE html>
<html>
<head>
    <title>Create Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Create Quiz</h1>
    <form id="quizForm">
        <label for="quizName">Quiz Name: </label>
        <input type="text" id="quizName" name="quizName" required>
        <div id="questionContainer">
            <!-- Questions will be dynamically added here -->
        </div>
        <button type="button" id="addQuestion">Add Question</button>
        <button type="submit">Submit Quiz</button>
    </form>

    <script>
        $(document).ready(function() {
            var questionCount = 0;

            var questionHTML = function(count) {
                return '<div class="question">' +
                    '<input type="text" name="question' + count + '" placeholder="Question">' +
                    '<input type="radio" name="correctAnswer' + count + '" value="1">' +
                    '<input type="text" name="answer1' + count + '" placeholder="Answer 1">' +
                    '<input type="radio" name="correctAnswer' + count + '" value="2">' +
                    '<input type="text" name="answer2' + count + '" placeholder="Answer 2">' +
                    '<input type="radio" name="correctAnswer' + count + '" value="3">' +
                    '<input type="text" name="answer3' + count + '" placeholder="Answer 3">' +
                    '<input type="radio" name="correctAnswer' + count + '" value="4">' +
                    '<input type="text" name="answer4' + count + '" placeholder="Answer 4">' +
                    '<button type="button" class="removeQuestion">Remove Question</button>' +
                    '</div>';
            };

            $('#addQuestion').click(function() {
                $('#questionContainer').append(questionHTML(questionCount));
                questionCount++;
            });

            $('#questionContainer').on('click', '.removeQuestion', function() {
                $(this).parent().remove();
            });

            $('#quizForm').submit(function(e) {
                e.preventDefault();
                // Here you would send the form data to your Flask application
            });
        });
    </script>
</body>
</html>
