{% extends 'base.html' %}

{% block content %}

<h1>Create New Quiz</h1>

<form id="add-question-form" method="post">

  <label>Question:</label>
  <input type="text" name="question">

  <button type="submit">Add Question</button>

</form>

<h2>Questions</h2>

<div id="questions">
  {% for question in questions %}
    <p>{{ question }}</p>
  {% endfor %}
</div>

<form id="save-quiz-form" method="post" action="{{ url_for('save_quiz') }}">

  <button type="submit">Save Quiz</button>

</form>

<script>

  // JS to handle forms

</script>

{% endblock %}