<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
</head>
<body>
    <h1>{{ quiz_name }}</h1>
    <form action="/quizzes/{{ quiz.id }}" method="post">
        {% set ns = namespace(count=0) %}
        {% for question in questions %}
        {% set ns.count = ns.count + 1 %}
        <div>
            <h3>{{ ns.count }}. {{ question.QuestionText }}</h3>
            {% for option in question.AnswerChoices %}
            <div>
                <input type="radio" id="{{ option }}" name="{{ question.id }}" value="{{ option }}">
                <label for="{{ option }}">{{ option }}</label>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
