{% extends 'base.html' %}

{% block content %}

<div class="quiz-header">
  <h1>Quizzes</h1>

  <button onclick="location.href='{{ url_for('user_profile') }}'" type="button">View Profile</button>
  <button onclick="location.href='{{ url_for('view_quizzes.quizzes_post') }}'" type="button">Create Quiz</button>

</div>

<table>
  <tr>
    <th>Name</th>
    <th>Questions</th>
    <th>Last Modified</th>
    <th>Scores</th>
    <th>Edit</th>
    <th>Share</th>
  </tr>

  {% for quiz in quizzes %}
  <tr>
    <td>{{ quiz.QuizName }}</td>
    <td>{{ quiz.NumberOfQuestions }}</td>
    <td>{{ quiz.LastModified }}</td>
    <td>
      <a href="{{ url_for('view_scores.get_post_scores', quiz_id=quiz.id) }}">
        View Scores
      </a>
    </td>
    <td>
      <button onclick="location.href='{{ url_for('view_quizzes.quizzes_delete_put_patch', quiz_id=quiz.id) }}'" type="button">Edit</button>
    </td>
    <td>
      <button onclick="openPopup('{{ quiz.id }}', '{{ quiz.QuizName }}')" type="button">Share</button>
    </td>
  </tr>
  {% endfor %}

</table>

<div id="emailPopup" class="email-popup">
  <div class="email-popup-content">
    <span onclick="closePopup()" class="close-button">&times;</span>
    <h2>Share Quiz</h2>
    <input type="email" id="recipientEmail" placeholder="Recipient's email">
    <button onclick="sendEmail()" id="sendButton">Send</button>
  </div>
</div>

<script>
  var quizUrl = "{{ url_for('view_quizzes.quizzes_get') }}";
</script>


{% endblock %}