{% extends 'base.html' %}

{% block content %}

<h1>All Scores</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Score</th>
      <th>Max Score</th>
      <th>Percent</th>
      <th>Time</th>
    </tr>
  </thead>
  
  <tbody>
    {% for score in scores %}
    <tr>
      <td>{{ score.username }}</td>
      <td>{{ score.score }}</td>
      <td>{{ score.max_score }}</td>
      <td>{{ score.percent }}%</td>
      <td>{{ score.time_taken }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}