{% extends 'base.html' %}

{% block content %}

<h1>{{ username }}'s Score Report</h1>

<div class="report-summary">
  <p>Score: {{ score }} / {{ max_score }}</p>
  <p>Percent: {{ percent }}%</p>
  <p>Time: {{ time }} seconds</p>

  <a href="{{ url_for('all_scores') }}" class="btn">
    View All Scores
  </a>
</div>

<div class="chart">
  <img src="data:image/png;base64,{{ plot_url }}">
</div>

<div class="answer-summary">
  <h3>Answers Summary</h3>

  <div class="correct">
    <p>{{ user_score['correct_answers'] }} Correct</p>
  </div>

  <div class="incorrect">
    <p>{{ user_score['incorrect_answers'] }} Incorrect</p>
  </div>

</div>

{% endblock %}