{% extends 'base.html' %}

{% block content %}

<h1>All Scores for {{ quiz_name }}</h1>

<table>
  <thead>
    <tr>
      <th>CandidateName</th>
      <th>PercentScore</th>
      <th>RawScore</th>
      <th>TimeTaken</th>
    </tr>
  </thead>
  
  <tbody>
    {% for score in scores %}
    <tr>
      <td>{{ score.CandidateName }}</td>
      <td>{{ score.PercentScore }}</td>
      <td>{{ score.RawScore }}</td>
      <td>{{ score.TimeTaken }}%</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}