{% extends 'base.html' %}

{% block content %}
<h1>User Profile</h1>

<body>
    <div class="container">
        <h1>{{ user.name }}</h1>

        <p>
            <img src="{{ user.picture }}" width="100">
            <a href="{{ url_for('update_picture', sub=user.sub) }}">Edit</a>
        </p>

        <p>
            Name: {{ user.name }}
            <a href="{{ url_for('update_name', sub=user.sub) }}">Edit</a>
        </p>

        <p>
            Email: {{ user.email }}
        </p>

        <a href="{{ url_for('view_scores.get_post_scores', quiz_id=quiz_id) }}">Scores</a>
        <br><br>
        <!-- Modified Quizzes link to call sendRequest function -->
        <a href="{{ url_for('add_authorization', url='quizzes') }}" id="getQuizzesButton">Quizzes</a>
        <br><br>
        <a href="{{ url_for('delete_account', sub=user.sub) }}">Delete Account</a>
        <br><br>

        <p><a href="/logout">Logout</a></p>
        <div><pre>{{pretty}}</pre></div>
    </div>

</body>

{% endblock %}
