{% extends "base.html" %}

{% block content %}
<button onclick="location.href='{{ url_for('home') }}'" type="button">Back to Home</button>
<h1>{{ user.name }}</h1>

<p>
  Email: {{ user.email }}
</p>

<p>
  Name: {{ user.name }}  

  <a href="{{ url_for('update_name', sub=user.sub) }}">Edit</a>
</p>

<p>
  <img src="{{ user.picture }}" width="100">
  
  <a href="{{ url_for('update_picture', sub=user.sub) }}">Edit</a>

</p>

<br><br>
<a href="{{ url_for('delete_account', sub=user.sub) }}">Delete Account</a>

{% endblock %}